.jumbotron {
  padding: 6rem 1rem;
  background-color: rgb(224, 196, 250);
}

section {
  padding: 4rem;
}

#gallery {
  background-color: rgb(224, 196, 250);
}

#waifu {
  background-color: rgb(224, 196, 250);
}

footer {
  padding: 1rem;
  background-color: purple;
}

#contact {
  min-height: 1000px;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.4s;
  text-align: center;
  padding: 100px;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.overlay .close {
  position: absolute;
  top: 70px;
  right: 35%;
  margin-right: -55px;
  color: white;
  text-decoration: none;
  background-color: black;
  border-radius: 1 px solid white;
  line-height: 15px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: slidedown 0.5s 0.5s forwards;
}

.container a {
  color: black;
  text-decoration: none;
  text-align: center;
}
